body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h2,h5 {
  background-color: #5679b9;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 900px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #706868;
  margin-top: 20px;
}

th {
  background-color: #628fd1;
  color: white;
  border: 1px solid #706868;
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid #706868;
  padding: 8px;
  background-color: #dce1e9;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.redirect-btn {
  margin-top: 20px;
  text-align: center;
}

#buscar {
  border: 1px solid #ced4da;
  border-radius: 20px;
  /* Bordes redondeados */
  padding: 0.375rem 0.75rem;
  /* Espaciado interno */
  transition: border-color 0.2s, box-shadow 0.2s;
  /* Transición suave */
}

#buscar:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  /* Sombreado al enfocar */
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
select {
  width: 400px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #706868;
  border-radius: 4px;

  a {
    color: white;
    text-decoration: none;
  }

  button:hover {
    background-color: #3e5c70;
  }

  #eliminar {
    background-color: rgb(197, 125, 119);
  }

  #editar {
    background-color: #78bb6a;
  }
}